<div class="inline-group meta-tags" id="{{ inline_admin_formset.formset.prefix }}-group">
    <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
    {{ inline_admin_formset.formset.management_form }}

    {% for inline_admin_form in inline_admin_formset %}
        <div class="inline-related{% if forloop.last %} empty-form last-related{% endif %}" id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
            {% for fieldset in inline_admin_form %}
                {% include "admin/includes/fieldset.html" %}
            {% endfor %}

            {% if inline_admin_form.needs_explicit_pk_field %}
                {{ inline_admin_form.pk_field.field }}
            {% endif %}

            {{ inline_admin_form.fk_field.field }}
        </div>
    {% endfor %}
</div>
